<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microplastic Detection Tool</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
      <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />

</head>
<body>
  <div class="max-w-4xl mx-auto p-4 mt-10 bg-[#1F2D5A] rounded-lg shadow-md">
    <div class="flex justify-center items-center mb-4">
        <img 
          src="{{ url_for('static', filename='images/logo-deepwater/png/logo-color.png') }}" 
          alt="Deepwater" 
          class="h-24 sm:h-32 md:h-40 lg:h-48 xl:h-56 w-auto max-w-full"
        />
      </div>
      
      
    <h1 class="text-3xl font-bold text-[#FBFBFB] mb-4">
      Microplastic Detection Tool
    </h1>
    <form id="uploadForm" enctype="multipart/form-data">
      <div class="flex flex-col mb-4">
        <label class="text-lg font-medium text-[#FBFBFB]" for="image">
          Upload Image
        </label>
        <input
          id="image"
          type="file"
          accept="image/*"
          class="block w-full p-2 pl-10 text-sm text-[#FBFBFB] rounded-lg focus:ring-[#2F76DB] focus:border-[#2F76DB] bg-[#1F2D5A]"
          required
        />
      </div>
      <button
        type="submit"
        class="w-full p-2 text-lg font-medium text-[#FBFBFB] bg-[#2F76DB] rounded-lg hover:bg-[#1F2D5A] focus:ring-[#2F76DB] focus:border-[#2F76DB]">
        Send Sample for Analysis
      </button>
      <p id="results" class="text-lg font-medium text-[#FBFBFB] mt-4"></p>
    </form>
  </div>
  <script>
    let plasticType = '';
    let particleSize = '';
    let sampleLocation = '';
    let sampleDate = '';
    let image = null;

    function setPlasticType(value) {
      plasticType = value;
    }

    function setParticleSize(value) {
      particleSize = value;
    }

    function setSampleLocation(value) {
      sampleLocation = value;
    }

    function setSampleDate(value) {
      sampleDate = value;
    }

    function handleImageChange(event) {
      image = event.target.files[0];
    }

    function handleSubmit(event) {
      event.preventDefault();

      // Perform analysis and update the results
      const results = 'Microplastic analysis in progress...';
      document.getElementById('results').textContent = results;
    }
  </script>
  <script>
    document.getElementById('uploadForm').addEventListener('submit', async function(event) {
      event.preventDefault();
      
      const formData = new FormData();
      const imageFile = document.getElementById('image').files[0];
      formData.append('image', imageFile);
    
      document.getElementById('results').textContent = 'Analyzing...';
    
      try {
          const response = await fetch('/analyze', {
              method: 'POST',
              body: formData
          });
      
          if (response.ok) {
              const result = await response.json();
              document.getElementById('results').innerHTML = `Analysis result--<br/>
                                                                Total Microplastics: ${result.total_count}<br/>
                                                                Microplastics count by type:<br/>
                                                                  Fiber: ${result.fiber}<br/>
                                                                  Pallet: ${result.pallet}<br/>
                                                                  Fragment: ${result.fragment}<br/>
                                                                  Film: ${result.film}<br/>`;
              
              // Display the predicted image
              const imgElement = document.createElement('img');
              imgElement.src = result.image_path;
              imgElement.alt = "Predicted Image";
              imgElement.className = "mt-4"; // Optional: Add some styling classes
  
              // Clear previous image if any
              const previousImage = document.getElementById('predictedImage');
              if (previousImage) {
                  previousImage.remove();
              }
              imgElement.id = 'predictedImage';
              document.getElementById('results').appendChild(imgElement);
          } else {
              document.getElementById('results').textContent = 'Error during analysis';
          }
      } catch (error) {
          console.error('Error:', error);
          document.getElementById('results').textContent = 'Error during analysis';
      }
  });
  
    </script>
</body>
</html>
