<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotless Hungry Crocodile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
      <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />

      <div class="home-container">
        <navbar-wrapper class="navbar-wrapper">
          <!--Navbar component-->
          <header class="navbar-container">
            <header data-thq="thq-navbar" class="navbar-navbar-interactive">
              <img
                alt="logo"

                src="{{ url_for('static', filename='images/logo-deepwater/png/logo-color.png') }}"class="navbar-image1"/>
              <div data-thq="thq-navbar-nav" class="navbar-desktop-menu">
                
                <h1 style="text-align: center;">DeepWater</h1>
              </div>
              <div data-thq="thq-burger-menu" class="navbar-burger-menu">
                <svg viewBox="0 0 1024 1024" class="navbar-icon1">
                  <path
                    d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div data-thq="thq-mobile-menu" class="navbar-mobile-menu">
                <div class="navbar-nav">
                  <div class="navbar-top">
                    <img
                      alt="logo"
                      src="{{ url_for('static', filename='images/logo-deepwater/png/logo-color.png') }}"
                      class="navbar-logo"
                    />
                   
                    <div data-thq="thq-close-menu" class="navbar-close-menu">
                      <svg viewBox="0 0 1024 1024" class="navbar-icon3">
                        <path
                          d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <nav class="navbar-links2">
                    <span class="thq-link thq-body-small">
                      <span>Home</span>
                    </span>
                    <span class="thq-link thq-body-small">
                      <span>About</span>
                    </span>
                    <span class="thq-link thq-body-small">
                      <span>Features</span>
                    </span>
                    <span class="thq-link thq-body-small">
                      <span>Contact</span>
                    </span>
                    <span class="thq-link thq-body-small">
                      <span>Link5</span>
                    </span>
                  </nav>
                </div>
                <div class="navbar-buttons2">
                  <button class="thq-button-filled">Login</button>
                  <button class="thq-button-outline">Register</button>
                </div>
              </div>
            </header>
          </header>
        </navbar-wrapper>
        <hero-wrapper class="hero-wrapper">
          <!--Hero component-->
          <div class="hero-header78">
            <div class="hero-column thq-section-padding thq-section-max-width">
              <div class="hero-content1">
                <h1 class="hero-text1 thq-heading-1">
                  Team Deepwater: Unleashing Cutting-Edge Computer Vision to Combat Microplastics with Precision and Purity
                  <span></span>
                </h1>
                <p class="hero-text2 thq-body-large">
                  <span>
                    Discover the invisible threat in your water sources with our advanced microplastic detection tool. Microplastics, tiny plastic particles less than 5mm in size, are becoming an increasingly significant concern for water quality and public health. Our website provides a seamless way to detect and analyze these particles, ensuring you have the information needed to keep your water safe.

                  </span>
                </p>
              </div>
            </div>
            <div class="hero-content2">
              <div
                class="hero-row-container1 thq-animated-group-container-horizontal thq-mask-image-horizontal"
              >
                <div class="thq-animated-group-horizontal">
                  <img
                    alt="Hero Image"
                    src="https://healthcare-in-europe.com/media/story_section_text/13566/image-01-brian-yurasits-y8k-dmpnwni-unsplash_hires.jpg"
                    class="hero-placeholder-image10 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://gumlet.assettype.com/downtoearth%2Fimport%2Flibrary%2Flarge%2F2024-04-28%2F0.93847600_1714289955_istock-1317882487.jpg?w=1200&auto=format%2Ccompress&fit=max"
                    class="hero-placeholder-image11 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://images.unsplash.com/photo-1543936126-5dfdbd4285f6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDI2MjE0N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="hero-placeholder-image12 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://images.unsplash.com/photo-1489617482379-fc98cdb77efb?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDI2MjE1MXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="hero-placeholder-image13 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://images.unsplash.com/photo-1449709861192-5fbaa595db43?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDI2MjE1MXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="hero-placeholder-image14 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://www.earth.com/assets/_next/image/?url=https%3A%2F%2Fcff2.earth.com%2Fuploads%2F2023%2F11%2F18122039%2Ffish_microplastic_1medium-960x640.jpg&w=1200&q=75"
                    class="hero-placeholder-image15 thq-img-scale thq-img-ratio-1-1"
                  />
                </div>
                
              </div>
              <div
                class="hero-row-container2 thq-animated-group-container-horizontal thq-mask-image-horizontal"
              >
                <div class="thq-animated-group-horizontal-reverse">
                  <img
                    alt="Hero Image"
                      src="https://ichef.bbci.co.uk/news/480/cpsprodpb/915F/production/_112051273_picture3.jpg.webp"
                    class="hero-placeholder-image22 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://ichef.bbci.co.uk/news/1536/cpsprodpb/915F/production/_112051273_picture3.jpg.webp"
                    class="hero-placeholder-image23 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://images.unsplash.com/photo-1485874132365-6412a19f94ba?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDI2MjE1MHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="hero-placeholder-image24 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://images.unsplash.com/photo-1488642945284-f5b65425f15a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDI2MjE1Mnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="hero-placeholder-image25 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://www.digicomply.com/hubfs/Microplastics.jpg"
                    class="hero-placeholder-image26 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://images.unsplash.com/photo-1433740944490-b669cb8b1c44?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDI2MjE1MHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="hero-placeholder-image27 thq-img-scale thq-img-ratio-1-1"
                  />
                </div>
                <div class="thq-animated-group-horizontal-reverse">
                  <img
                    alt="Hero Image"
                    src="https://www.digicomply.com/hubfs/Microplastics.jpg"
                    class="hero-placeholder-image28 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://img.waimaoniu.net/2538/2538-202307271036404291.jpg"
                    class="hero-placeholder-image29 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://images.unsplash.com/photo-1485874132365-6412a19f94ba?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDI2MjE1MHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="hero-placeholder-image30 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://images.unsplash.com/photo-1488642945284-f5b65425f15a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDI2MjE1Mnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="hero-placeholder-image31 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://www.digicomply.com/hubfs/Microplastics.jpg"
                    class="hero-placeholder-image32 thq-img-scale thq-img-ratio-1-1"
                  />
                  <img
                    alt="Hero Image"
                    src="https://images.unsplash.com/photo-1568214379698-8aeb8c6c6ac8?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEyfHxncmFmaWN8ZW58MHx8fHwxNzE1Nzk0OTk5fDA&amp;ixlib=rb-4.0.3&amp;w=1500"
                    class="hero-placeholder-image33 thq-img-scale thq-img-ratio-1-1"
                  />
                </div>
              </div>
            </div>
            <div>
              <div class="hero-container2">
                <style>
                  @keyframes scroll-x {
                    from {
                      transform: translateX(0);
                    }
                    to {
                      transform: translateX(calc(-100% - 16px));
                    }
                  }

                  @keyframes scroll-y {
                    from {
                      transform: translateY(0);
                    }
                    to {
                      transform: translateY(calc(-100% - 16px));
                    }
                  }
                </style>
              </div>
            </div>
          </div>
        </hero-wrapper>
        <features1-wrapper class="features1-wrapper">
          <!--Features1 component-->
          <div class="thq-section-padding">
            <div class="features1-container2 thq-section-max-width">
              <div class="features1-image-container">
                <img
                  alt="Computer vision analyzing water sample for microplastics"
                  src="{{ url_for('static', filename='images/sample/imm.jpg') }}"
                  class="features1-image1 thq-img-ratio-16-9"
                  style="margin-right: 20px;" 
                />
                <img
                  alt="Accurate counting of microplastics in water sample"
                  src="{{ url_for('static', filename='images/sample/final_image.jpg') }}"
                  class="features1-image2 thq-img-ratio-16-9"
                />
              </div>
              <div class="features1-tabs-menu">
                <div class="features1-tab-horizontal1">
                  <div class="features1-divider-container1">
                    <div class="features1-container3"></div>
                  </div>
                  <div class="features1-content1">
                    <h2 class="thq-heading-2">
                      <span>Computer Vision Technology</span>
                    </h2>
                    <span class="thq-body-small">
                    </span>
                  </div>
                </div>
                <div class="features1-tab-horizontal2">
                  <div class="features1-divider-container2">
                    <div class="features1-container4"></div>
                  </div>
                  <div class="features1-content2">
                    <h2 class="thq-heading-2">
                      <span>Microplastic Counting</span>
                    </h2>
                    <span class="thq-body-small">
                      <span>Accurate microplastic counting</span>
                    </span>
                  </div>
                </div>
                <div class="features1-tab-horizontal3">
                  <div class="features1-divider-container3">
                    <div class="features1-container5"></div>
                  </div>
                  <div class="features1-content3">
                    <h2 class="thq-heading-2"><span>Instant Analysis</span></h2>
                    <span class="thq-body-small">
                      <span>Real-time results and analysis</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </features1-wrapper>
        
        <features2-wrapper class="features2-wrapper">
          <!--Features2 component-->
          <div class="thq-section-padding">
            <div class="features2-container2 thq-section-max-width">
              <div class="features2-tabs-menu">
                <div class="features2-tab-horizontal1">
                  <div class="features2-divider-container1">
                    <div class="features2-container3"></div>
                  </div>
                  <div class="features2-content1">
                    <h2 class="thq-heading-2"><span>Why Microplastics Are Harmful?</span></h2>
                    <span class="thq-body-small">
                      <span>Microplastics are pervasive in the environment, posing threats to both marine life and human health. These tiny particles can absorb harmful chemicals, enter the food chain, and ultimately make their way into our bodies. Studies suggest links to various health concerns, making it crucial to monitor and minimize their presence in our water.


                      </span>
                    </span>
                  </div>
                </div>
                <div class="features2-tab-horizontal2">
                  <div class="features2-divider-container2">
                    <div class="features2-container4"></div>
                  </div>
                  <div class="features2-content2">
                    <h2 class="thq-heading-2">
                      <span>How We Address the Problem?</span>
                    </h2>
                    <span class="thq-body-small">
                      <span>     We’ve combined state-of-the-art technology with easy-to-use interfaces to provide a comprehensive solution for detecting microplastics in water. Our system uses advanced imaging and machine learning algorithms to identify microplastic particles quickly and accurately, helping to safeguard your water supply.

                      </span>
                    </span>
                  </div>
                </div>
                <div class="features2-tab-horizontal3">
                  <div class="features2-divider-container3">
                    <div class="features2-container5"></div>
                  </div>
                  <div class="features2-content3">
                    <h2 class="thq-heading-2"><span>How does it help?</span></h2>
                    <span class="thq-body-small">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                        Duis cursus, mi quis viverra ornare, eros dolor interdum
                        nulla, ut commodo diam libero vitae erat.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="features2-image-container">
                <img
                  alt="feature 1"
                  src="https://cdn.britannica.com/24/204724-050-44781F22/Plastic-pollution-microplastics-zooplankton-marine-animals.jpg"
                  class="features2-image1 thq-img-ratio-16-9"
                />
              </div>
            </div>
          </div>
        </features2-wrapper>
        
        <steps-wrapper class="steps-wrapper">
          <!--Steps component-->
          <div class="steps-container1 thq-section-padding">
            <div class="steps-max-width thq-section-max-width">
              <div class="steps-container2 thq-grid-2">
                <div class="steps-section-header">
                  <h2 class="thq-heading-2">
                    Step-by-Step Guide
                  </h2>
                  <p class="thq-body-large">Curious about the technology behind our microplastic detector? We’ve made our development process and technology openly available for those interested in the details. Visit our GitHub repository to explore the source code, and documentation that power our microplastic detection system. 

                  </p>
                  <div class="steps-actions">
                    <button
                      class="thq-button-animated thq-button-filled steps-button"
                    >
                      <span class="thq-body-small"><a href="https://github.com/prakrititz/deepwater" style="color: white;">Main Repo</a>

                    </button>
                  </div>
                </div>
                <div class="steps-container3">
                  
                  <div class="steps-container5 thq-card">
                    <h2 class="thq-heading-2">
                      <span>Upload your water sample image</span>
                    </h2>
                    <span class="steps-text17 thq-body-small">
                      <span>
                        Take a clear photo of your water sample and upload it to
                        our system for analysis.
                      </span>
                    </span>
                    <label class="steps-text18 thq-heading-3">01</label>
                  </div>
                  <div class="steps-container6 thq-card">
                    <h2 class="thq-heading-2">
                      <span>View the microplastics count</span>
                    </h2>
                    <span class="steps-text20 thq-body-small">
                      <span>
                        Receive instant results showing the number of
                        microplastics detected in your water sample.
                      </span>
                    </span>
                    <label class="steps-text21 thq-heading-3">02</label>
                  </div>
                  <div class="steps-container7 thq-card">
                    <h2 class="thq-heading-2"><span>Take action</span></h2>
                    <span class="steps-text23 thq-body-small">
                      <span>
                        Based on the results, take necessary actions to improve
                        water quality and reduce microplastic pollution.
                      </span>
                    </span>
                    <label class="steps-text24 thq-heading-3">03</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </steps-wrapper>
        <cta-wrapper class="cta-wrapper">
          <!--CTA component-->
          <div class="thq-section-padding">
            <div class="thq-section-max-width">
              <div class="cta-accent2-bg">
                <div class="cta-accent1-bg">
                  <div class="cta-container2">
                    <div class="cta-content">
                      <span class="thq-heading-2">
                        <span>Assess Water Quality with DeepWater Inc.</span>
                      </span>
                      <p class="thq-body-large">
                        <span>
                          Join us in our mission to protect our oceans by using
                          cutting-edge computer vision technology to count
                          microplastics in water samples.
                        </span>
                      </p>
                    </div>
                    <div class="cta-actions">
                      <button
                        type="button"
                        class="thq-button-filled cta-button"
                      >
                      <a href="{{ url_for('show_form') }}" class="thq-button-filled cta-button">
                        <span>Get Started</span>
                      </a>
                      
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </cta-wrapper>
        <testimonial-wrapper class="testimonial-wrapper">
          <!--Testimonial component-->
          <div class="thq-section-padding">
            <div class="testimonial-max-width thq-section-max-width">
              <div class="testimonial-container10">
                <h2 class="thq-heading-2"><span>Our Team</span></h2>
                <span class="testimonial-text11 thq-body-small">
                  <span>
                    DeepWater's technology has revolutionized the way we assess
                    water quality. Their accurate and efficient microplastic
                    counting system has been invaluable in our research.
                  </span>
                </span>
              </div>
              <div class="thq-grid-2">
                <div class="thq-animated-card-bg-2">
                  <div class="thq-animated-card-bg-1">
                    <div
                      data-animated="true"
                      class="thq-card testimonial-card1"
                    >
                      <div class="testimonial-container12">
                        <img
                          alt="Image of John Smith"
                          src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2f6ed149-c2f1-45b1-876c-0c26ccf7c2e2/dfw4wvo-a3c9af98-a621-4eeb-bffc-5ead4b300254.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmNmVkMTQ5LWMyZjEtNDViMS04NzZjLTBjMjZjY2Y3YzJlMlwvZGZ3NHd2by1hM2M5YWY5OC1hNjIxLTRlZWItYmZmYy01ZWFkNGIzMDAyNTQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Z5tVVFGh8k7vChBI9p9EbpWD9MKOMLhoaAFmMAzjIEA"
                          class="testimonial-image1"
                        />
                        <div class="testimonial-container13">
                          <strong class="thq-body-large">
                            <span><a href = "https://www.linkedin.com/in/areen-patil-98679128b/">Areen Patil</a></span>
                          </strong>
                          <span class="thq-body-small">
                            <span>2nd Year Student, IIIT Bangalore</span>
                          </span>
                        </div>
                      </div>
                      <span class="testimonial-text14 thq-body-small">
                        <span>
                          HI, nice to meet you. !!!!!
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="thq-animated-card-bg-2">
                  <div class="thq-animated-card-bg-1">
                    <div
                      data-animated="true"
                      class="thq-card testimonial-card2"
                    >
                      <div class="testimonial-container14">
                        <img
                          alt="Image of Unnath Chittimalla"
                          src="https://media.licdn.com/dms/image/v2/D5603AQH0L9vDwktFbQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1712130862037?e=1730332800&v=beta&t=C36GcJbpphiU-zsz9cKnz93BY32tiSjJA0GrVR3V6i8"
                          class="testimonial-image2"
                        />
                        <div class="testimonial-container15">
                          <strong class="thq-body-large">
                            <span><a href = "https://www.linkedin.com/in/unnath-chittimalla-08aaaa287/">Unnath Chittimalla</a></span>
                          </strong>
                          <span class="thq-body-small">
                            <span>2nd Year Student, IIIT Bangalore</span>
                          </span>
                        </div>
                      </div>
                      <span class="testimonial-text17 thq-body-small">
                        <span>
                          As a marine biologist, I rely on accurate data to make
                          informed decisions. DeepWater's solution has exceeded
                          my expectations and provided crucial insights into
                          microplastic pollution.
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="thq-animated-card-bg-2">
                  <div class="thq-animated-card-bg-1">
                    <div
                      data-animated="true"
                      class="thq-card testimonial-card3"
                    >
                      <div class="testimonial-container16">
                        <img
                          alt="Image of David Lee"
                          src="https://image.slidesharecdn.com/pexels-photo-752035-190606160526/75/Angry-Ostrich-1-2048.jpg"
                          class="testimonial-image3"
                        />
                        <div class="testimonial-container17">
                          <strong class="thq-body-large">
                            <span><a href= "https://www.linkedin.com/in/prakrititz-borah-348b04287/">Prakrititz Borah</a></span>
                          </strong>
                          <span class="thq-body-small">
                            <span>2nd Year Student, IIIT Bangalore</span>
                          </span>
                        </div>
                      </div>
                      <span class="testimonial-text20 thq-body-small">
                        <span>
                          DeepWater's technology is a game-changer in the field
                          of water quality assessment. Their innovative approach
                          has simplified our monitoring processes and improved
                          data accuracy.
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="thq-animated-card-bg-2">
                  <div class="thq-animated-card-bg-1">
                    <div
                      data-animated="true"
                      class="thq-card testimonial-card4"
                    >
                      <div class="testimonial-container18">
                        <img
                          alt="Image of Sarah Chen"
                          src="https://media.licdn.com/dms/image/v2/D5603AQHVZJDW5o_Gew/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1712317759159?e=1730332800&v=beta&t=-2mCcfvzQN56XSWiPEnKaL4_tO42NWs2p1LZr1hcH_E"
                          class="testimonial-image4"
                        />
                        <div class="testimonial-container19">
                          <strong class="thq-body-large">
                            <span><a href="https://www.linkedin.com/in/krishnav-koushik-bharadwaj-414b76296/">Krishnav Koushik Bharadwaj</a></span>
                          </strong>
                          <span class="thq-body-small">
                            <span>2nd Year Student, IIT Madras</span>
                          </span>
                        </div>
                      </div>
                      <span class="testimonial-text23 thq-body-small">
                        <span>
                          I applaud DeepWater for their commitment to
                          environmental sustainability. Their solution not only
                          identifies microplastics effectively but also raises
                          awareness about the urgent need to protect our oceans.
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="thq-animated-card-bg-2">
                  <div class="thq-animated-card-bg-1">
                    <div
                      data-animated="true"
                      class="thq-card testimonial-card4"
                    >
                      <div class="testimonial-container18">
                        <img
                          alt="Image of Sarah Chen"
                          src="https://media.licdn.com/dms/image/v2/D5603AQE263YnsShTnw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1714283588996?e=1730332800&v=beta&t=iHBKAt7BuEDkfmXGys7ObP1NypVxUMHzYUPsKU78k7U"
                          class="testimonial-image4"
                        />
                        <div class="testimonial-container19">
                          <strong class="thq-body-large">
                            <span><a href="https://www.linkedin.com/in/divyansh--sharma--/">Divyansh Sharma</a></span>
                          </strong>
                          <span class="thq-body-small">
                            <span>2nd Year Student, IIT Madras</span>
                          </span>
                        </div>
                      </div>
                      <span class="testimonial-text23 thq-body-small">
                        <span>
                          I applaud DeepWater for their commitment to
                          environmental sustainability. Their solution not only
                          identifies microplastics effectively but also raises
                          awareness about the urgent need to protect our oceans.
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </testimonial-wrapper>
        <contact-wrapper class="contact-wrapper">
          <!--Contact component-->
          <div class="contact-contact20 thq-section-padding">
            <div class="contact-max-width thq-section-max-width">
              <div class="contact-section-title">
                <span class="thq-body-small">
                  <span>
                    We are always happy to hear from you and answer any queries
                    you may have.
                  </span>
                </span>
                <div class="contact-content1">
                  <h2 class="thq-heading-2"><span>Contact Us</span></h2>
                  <p class="contact-text3 thq-body-large">
                    <span>
                      Have a question or want to learn more about our project?
                      Feel free to reach out to us using the contact information
                      below.
                    </span>
                  </p>
                </div>
              </div>
              <div class="contact-row">
                <div class="contact-content2">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
                    <path
                      d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
                    ></path>
                  </svg>
                  <div class="contact-contact-info1">
                    <div class="contact-content3">
                      <h3 class="contact-text4 thq-heading-3">Email</h3>
                      <p class="contact-text5 thq-body-large">
                        <span>
                          You can also follow us on social media for updates and
                          news about our project.
                        </span>
                      </p>
                    </div>
                    <span class="contact-email thq-body-small">
                      <span>Prakrititz.Borah@iiitb.ac.in</span>
                    </span>
                  </div>
                </div>
                <div class="contact-content4">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
                    <path
                      d="M282 460q96 186 282 282l94-94q20-20 44-10 72 24 152 24 18 0 30 12t12 30v150q0 18-12 30t-30 12q-300 0-513-213t-213-513q0-18 12-30t30-12h150q18 0 30 12t12 30q0 80 24 152 8 26-10 44z"
                    ></path>
                  </svg>
                 
                </div>
                <div class="contact-content6">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
                    <path
                      d="M512 0c-176.732 0-320 143.268-320 320 0 320 320 704 320 704s320-384 320-704c0-176.732-143.27-320-320-320zM512 512c-106.040 0-192-85.96-192-192s85.96-192 192-192 192 85.96 192 192-85.96 192-192 192z"
                    ></path>
                  </svg>
                  <div class="contact-contact-info3">
                    <div class="contact-content7">
                      <h3 class="contact-text8 thq-heading-3">Address</h3>
                    </div>
                    <span class="contact-address thq-body-small">
                      <span>
                        IIIT Bangalore, <br>
                        26/C, Hosur Rd, Electronics City Phase 1, Electronic City, Bengaluru, Karnataka 560100<br>
                        <br><br>
                        IIT Madras, <br>
                        264R+CQM Sardar Vallabhai, Sardar Patel Rd, Chennai, Tamil Nadu
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </contact-wrapper>
        <footer-wrapper class="footer-wrapper">
          <!--Footer component-->
          
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
